body {
    /*
    font-size: 70%;*/
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btnPrimary {
    padding: 3px 20px 3px 20px;
    line-height: 30px;
    /* width: 80px; */
    height: 30px;
    display: inline;
    text-align: center;
    background: green;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 1px 2px 10px #ccc;
}

.btnPrimary:hover {
    cursor: pointer;
    background: #535353;
}

.errShow {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    background: #b10000;
    color: #fff;
    line-height: 30px;
    text-align: center;
}

.main {
    margin-top: 40px;
}

.input {
    display: block;
    margin: 5px;
    box-shadow: 1px 2px 6px #ccc;
    border: 0;
    height: 30px;
}

textarea {
    width: 200px;
    height: 100px;
}

.infoBox {
    position: relative;
    border-radius: 3px;
    box-shadow: 1px 1px 10px #ccc;
    margin: 10px;
    padding: 20px 10px 10px 10px;
    min-width: 300px;
}

.infoBox .infoSpan {
    width: 100%;
    overflow: hidden;
}

.infoBox .boxTitle {
    position: absolute;
    top: -10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input {
    margin: 5px;
}

.cleanFloat {
    clear: both;
}

.infosBox {
    min-width: 800px;
}

.infosBox .infoBox {
    float: left;
    min-width: 200px;
}

.table tbody tr td {
    padding: 3px;
}

.btn {
    padding: 0px 20px;
}